.App{
    position: relative;
}
.fake{
    text-align: center;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: block;
}
.img{
    width: 50px;
    padding: 5px;
    position: fixed;
    top: 0;
    right: 4px;
    cursor: pointer;
    z-index: 10;
}
.count{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    padding: 4px 4px 6px 4px;
    position: fixed;
    top: 37px;
    right: 10px;
    color: #ffffff;
    background-color: rgb(253, 105, 51); 
    cursor: pointer;
    z-index: 11;
}
.contain{
    align-items: center;
}