.App{
    position: relative;
}
.fake{
    text-align: center;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: block;
}
.img{
    width: 50px;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 4px;
    cursor: pointer;
}